$appBarHeight: 80px;
$appBarIconSize: 30px;

$headerColor: #0277bd;
$accentColor: #ec407a;

.content {
  margin: 10px auto;
  padding: 2em;
  height: 100%;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  @media screen and (max-width: 1360px) {
    width: 100%;
  }
  @media screen and (min-width: 900px) {
    width: 100%;
    display: flex;
  }
  > div:nth-child(2) {
    flex: 7;
    overflow: hidden;
    align-items: flex-start;
    > .infinite-scroll-component {
      height: 100%;
      overflow: hidden !important;
    }
  }
  > .content__main {
    flex: 7;
    align-items: flex-start;
  }
}

.col {
  flex-direction: column;
}

.dark-paper {
  color: #ececec;
  border: none;
  background: transparent !important;
}

.legend {
  font-size: 18px !important;
  border-radius: 4px !important;
  padding: 2rem !important;
  background: rgb(0, 0, 0) !important;
  opacity: 0.5 !important;
}

.drawer__container {
  z-index: 1;
  flex: 2.5 !important;
}

.side_drawer__list__item {
  > span {
    color: #e3e3e3;
  }
}

.infinite-scroll-loading__wrap {
  margin: 20px auto;
  width: 100%;
  text-align: center;
}

.drawer__content {
  border-radius: 4px;
  background: #363636 !important;
  border: none !important;
  position: relative !important;
  width: 100%;
  height: fit-content !important;
}

.content__main {
  flex: 7;
  align-items: flex-start;
}

.movie_card {
  padding: 20px 0 0 !important;
}

.movie_card__container {
  max-width: 250px;
  margin: 0 auto 30px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &:hover {
    > .movie_card__favorite__container {
      opacity: 1;
    }
  }

  > .movie_card__favorite__container {
    opacity: 0;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 100%;
    background: #ec407a;
    z-index: 99;
    right: 5px;
    top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
    transition: 120ms all ease-in-out;
    box-shadow: 0 2px 10px #363636AA;
    > svg {
      transition: 120ms all ease-in-out;
    }
    &:hover {
      box-shadow: 0 5px 10px #7e7e7eAA;
      > svg {
        width: 1.2em;
        height: 1.2em;
      }
    }
  }
}

.movie_card__container__poster {
  width: 100%;
  height: 380px;
  min-width: 250px;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-image: linear-gradient(to bottom, rgba(70, 70, 70, 0), rgba(0, 0, 0, 0.81));
  }
}

.movie_card__container__content {
  min-height: 120px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 90;
  color: white;
}

.favorite__container {
  height: 24px !important;
  color: #f5f5f5 !important;
  letter-spacing: 1px;
  background-color: #ff4685 !important;
}

.book_ticket__button {
  background-image: linear-gradient(to right, rgba(216, 26, 95, 0.82), rgba(158, 6, 41, 0.92));
  min-width: 180px !important;
  max-width: 190px;
  width: 80% !important;
  > span {
    color: white;
    width: 100%;
    justify-content: space-around;
  }
}

.favorite__container__icon {
  height: 24px !important;
  width: 24px !important;
  color: #fff !important;
  background-color: #9f2b52 !important;
  > svg {
    width: 15px !important;
    height: 15px !important;
  }
}

.trailer__play_icon {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  border-radius: 40px;
  background: #1d1d1d9c;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 50ms ease-in-out;
  > a > span {
    color: white;
    transition: all 50ms ease-in-out;
    font-size: 30px;
  }
  &:hover {
    > a > span {
      font-size: 38px;
    }
  }
}
