body, * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, #333, #111);
}

a {
    color: #000000;
    text-decoration: none;
}
